// fonts

$font-primary: 'Novecento Web demiBold';
$font-sub-heading: 'Novecento Web';
$font-text: 'Inter';
$font-accent: 'Merriweather Web bold';

// Colors
$background-color: #fafafa;
$text-color: #212529;
$accent-color: #333366;

body {
    background-color: $background-color;
    max-width: 1440px;
    margin: auto !important;
}

p {
    color: $text-color;
    font-family: $font-text, sans-serif;
    font-size: 20px;
}
h1, h2 {
    color: $accent-color;
    font-family: $font-primary, sans-serif;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 30px;
}
